body {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    width: 1440px;
    margin: auto;
    color: #000;
    background-color: #ccc;
}

th {
	padding: 0px 6px;
}

#log td {
	text-align: right;
}

.hidden {
	display: none;
}

